<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>About</title>
   </head>
   <body>
      {% extends "template.html" %}
      {% block content %}
      <div class="a">
         <h1> About</h1>
         <h3> I created this site as a resource for anyone who has an interest in cybersecurity. There are so many amazing open source tools out there and sometimes it is hard to find which one would be best for you. There are great resources like the <a href="https://github.com/sindresorhus/awesome" target="_blank">awesome lists</a> but I found I was spending a lot of time clicking on links trying to find a good solution for me. So I wanted to create something that would help other people find tools in a more efficient way. Inspiration for this site inclues <a href="https://github.com/sindresorhus/awesome" target="_blank">the awesome lists</a>, <a href="https://www.thec2matrix.com/" target="blank">The C2 Matrix</a>, <a href="https://github.com/trustedsec/ptf" target="_blank">The Penetration Testers Framework</a>, and <a href="https://github.com/infosecn1nja/Red-Teaming-Toolkit" target="blank"> The Red Teaming Toolkit</a>.</h3>
      </div>
      {% endblock %}
   </body>
</html>