<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Categories</title>
   </head>
   <body>
      {% extends "template.html" %}
      {% block content %}
      <div class="a">
         <h1>Categories</h1>
      </div>
      <a href="/recon"><button class="button button1">Recon</button></a>
      <a href="/reversing"><button class="button button1">Reverse Engineering</button></a>
      <a href="/osint"><button class="button button1">OSINT</button></a>
      {% endblock %}
   </body>
</html>